#main-navbar {
  background color: blue;
  overflow: hidden;
}

#navbar-container {
  position: relative;
  float: left;
  width: 100%;
}

#onpage {
  float: left;
  text-decoration: underline overline;
  background color: #000;
}

#sidebar {

}

#sidebar-container {

}

