#main-navbar {
  overflow: hidden;
  background-color: blue;
  padding: 10px 20px;
  float: left;
  position: relative;
}

#navbar-container {
}

#onpage {

}

#sidebar {

}

#sidebar-container {

}

