#main-navbar {
  background color: blue;
  overflow: hidden;
}

#navbar-container {
  position: relative;
  float: left;
  width: 100%;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  display: block;
  position: relative;
  color: #fff;
  float: left;
}
